.tower {
  height: 90vh;
}

.fan {
  height: 68vh;
  bottom: -11vh;
}

.cloud {
  width: 100vw;
  height: 38vh;
  background-size: auto 100%;
  background-repeat: repeat-x;
  bottom: -15vh;
}

.cloudAnimated {
  animation: scrollCloud 12s linear infinite;
}

@keyframes scrollCloud {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 64.091vh 0;
  }
}
