.sprite {
  width: 100vw;
  image-rendering: pixelated;
  background-size: auto 100%;
  background-repeat: repeat-x;
}

.trees {
  height: 90vh;
  bottom: -15vh;
}

.sun {
  top: 8vh;
  right: min(10vh, 4vw);
  height: 26vh;
  aspect-ratio: 51 / 50;
  width: auto;
  image-rendering: pixelated;
  @apply bg-cover bg-center;
}

.treesFar {
  height: 56vh;
  bottom: 18vh;
}

.clouds {
  height: 45vh;
  top: 1vh;
}

.animatedTrees {
  animation: scrollTrees 5.5s linear infinite;
}

.animatedTreesFar {
  animation: scrollTreesFar 5.5s linear infinite;
}

.animatedClouds {
  animation: scrollClouds 160s linear infinite;
}

@keyframes scrollTrees {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 54.667vh 0;
  }
}

@keyframes scrollTreesFar {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 34.015vh 0;
  }
}

@keyframes scrollClouds {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 275.357vh 0;
  }
}

.outerSun1 {
  animation: outerSun1 0.93s steps(1, end) infinite;
}

.outerSun2 {
  animation: outerSun2 0.93s steps(1, end) infinite;
}

.outerSun3 {
  animation: outerSun3 0.93s steps(1, end) infinite;
}

.outerSun4 {
  animation: outerSun4 0.93s steps(1, end) infinite;
}

.innerSun1 {
  animation: innerSun1 1.8s linear infinite;
}

.innerSun2 {
  animation: innerSun2 1.8s linear infinite;
}

.innerSun3 {
  animation: innerSun3 1.8s linear infinite;
}

.innerSun4 {
  animation: innerSun4 1.8s linear infinite;
}

.innerSun5 {
  animation: innerSun5 1.8s linear infinite;
}

@keyframes outerSun1 {
  0%,
  100% {
    opacity: 1;
  }
  25%,
  75% {
    opacity: 0;
  }
}

@keyframes outerSun2 {
  0%,
  50%,
  100% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@keyframes outerSun3 {
  0%,
  25%,
  75%,
  100% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

@keyframes outerSun4 {
  0%,
  25%,
  50%,
  100% {
    opacity: 0;
  }
  75% {
    opacity: 1;
  }
}

@keyframes innerSun1 {
  0%,
  100% {
    opacity: 1;
  }
  20%,
  80% {
    opacity: 0;
  }
}

@keyframes innerSun2 {
  0%,
  40%,
  100% {
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
}

@keyframes innerSun3 {
  0%,
  20%,
  60%,
  100% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
}

@keyframes innerSun4 {
  0%,
  20%,
  40%,
  80%,
  100% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
}

@keyframes innerSun5 {
  0%,
  20%,
  40%,
  60%,
  100% {
    opacity: 0;
  }
  80% {
    opacity: 1;
  }
}
